$red: #000;
$main-color: #6b76ff;
$second-color:#a5aeff;
;
$third-color: #feffe0; 
$white-color:#fff;
$black-color: darken(#5F5853, 10%);
$grey: #808080; 
$color-tertiary-light: #7ed56f; 
$green: #28b485; 
$color-red-light:#e57373; 
$red-dark:#b71c1c;
//font 
$default-font-size: 1.6rem; 